[package]
name = "day10"
version = "0.1.0"
edition = "2021"

[dependencies]
rayon = "1.10"
z3 = "0.12"

[profile.release]
opt-level = 3
lto = true
codegen-units = 1

[profile.release.build-override]
opt-level = 3
